:root {
    --correct-colour-fade: rgba(144, 238, 144, 70);
    --correct-colour: lightgreen;
    --incorrect-colour: lightcoral;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-size: 20px;
}

.container {
    position: relative; /* Position context for absolute positioning */
    display: grid;
    width: 90%;
    height: 80vh;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 8px;
}

.poem-container, .quiz-container {
    position: relative;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poem-aligner, #quiz-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.poem-container #poem-container {
    white-space: pre-wrap; /* Preserve formatting and line breaks */
    text-align: left; /* Align poem to the left */
}

#gaptext-mode-toggle {
    top: 70px; /* Position it 50px below the recite mode toggle */
}

.quiz-container {
    width: 45%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/*
#mode-toggle, #recite-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

#recite-mode-toggle {
    top: 50px; 
}*/

#quiz-form {
    align-items: center;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    max-width: 300px;
}

.input-group label {
    margin-right: 10px;
    width: 30%;
}

#next-verse-label {
    width: 100%;
}

input[type="text"], select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%; /* Full width */
    max-width: 100%; /* Maximum width */
}

#next-verse {
    height: 120px;
    width: 100%;
    min-width: 50%;
    max-width: 100%;
    min-height: 10vh;
    max-height: 50vh;
    margin-top: 5px;
}

#next-verse-group {
    flex-direction: column;
}

button {
    cursor: pointer;
}

#submit-button, #next-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#submit-button:hover, #next-button:hover {
    background-color: #45a049; /* Darker green */
}

#next-button {
    background-color: #4169E1; /* Darker blue */
    display: none; /* Hidden by default */
}

#next-button:hover {
    background-color: #355fcd; /* Darker shade on hover */
}

#feedback {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black; /* Default color */
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Define the specific background colors for correct and incorrect answers */
.correct-answer {
    background-color: var(--correct-colour);
}

.incorrect-answer {
    background-color: var(--incorrect-colour);
}

.verseinput, .versespan {
    margin-right: 5px;
    padding: 1px !important;
}

.verseinput {
    padding-left: 3px !important;
}

/* Settings */
#settings-button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#poems-button {
    position: fixed;
    top: 10px;
    right: 60px;
    font-size: 20px;
    cursor: pointer;
}

#dark-mode-button {
    position: fixed;
    top: 8px;
    right: 102px;
    font-size: 20px;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

#settings-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

#settings-modal h2 {
    margin-top: 0;
}

#poems-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

#poems_main_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.poems_side_div{
    width: 48%;
    height: 100%
}

h2 {
    margin: 0;
}

.checkbox-container{
    max-height: 55svh;
    overflow-y: scroll;
    width: 95%;
}

#done-button {
    padding: 8px;
    width: 100%;
    border-radius: 11px;
    background-color: burlywood;
}

input:disabled, button:disabled, select:disabled {
    color: black;
}

select.incorrect-answer {
    background-color: lightcoral;
}

/* Settings */
#settings-button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#poems-button {
    position: fixed;
    top: 10px;
    right: 70px;
    font-size: 20px;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

#settings-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

#settings-modal h2 {
    margin-top: 0;
}

#poems-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

#poems_main_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.poems_side_div{
    width: 48%;
    height: 100%
}

h2 {
    margin: 0;
}

.checkbox-container{
    max-height: 55svh;
    overflow-y: scroll;
    width: 95%;
}